<?xml version="1.0" encoding="UTF-8"?>
<simpleAuthenticationPlugin anonymousAccessAllowed="true">
    <users>
        <authenticationUser username="aniketos" password="@£023Fj20mda_:sE" groups="users,admins"/>
        <authenticationUser username="guest" password="password" groups="subscribers"/>
    </users>
</simpleAuthenticationPlugin>
<authorizationPlugin>
    <map>
        <authorizationMap>
            <authorizationEntries>
                <authorizationEntrytopic=">" read="aniketos" write="aniketos" admin="aniketos" />
                <authorizationEntrytopic=">" read="subscribers" />
            </authorizationEntries>
        </authorizationMap>
    </map>
</authorizationPlugin>